20BCE0149
Subashini N
   Assignment-1

In [1]:
import numpy as np
import pandas as pd
arr=np.random.rand(4,4)
#print(arr)
df=pd.DataFrame(arr)
print(df)

          0         1         2         3
0  0.696724  0.225401  0.106388  0.448124
1  0.634869  0.709070  0.640808  0.322995
2  0.404387  0.210926  0.332616  0.054777
3  0.911982  0.289717  0.714039  0.416536

In [2]:
col=['Random value 1', 'Random value 2', 'Random value 3' , 'Random value 4']
df.columns=col
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.696724        0.225401        0.106388        0.448124
1        0.634869        0.709070        0.640808        0.322995
2        0.404387        0.210926        0.332616        0.054777
3        0.911982        0.289717        0.714039        0.416536

In [3]:
#descriptive statistics of 'df'
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.661991        0.358779        0.448463        0.310608
std          0.208804        0.236025        0.281640        0.178638
min          0.404387        0.210926        0.106388        0.054777
25%          0.577249        0.221783        0.276059        0.255941
50%          0.665797        0.257559        0.486712        0.369766
75%          0.750539        0.394555        0.659116        0.424433
max          0.911982        0.709070        0.714039        0.448124

In [6]:
#check for null values
print(df.isnull().sum())
print("\n\n")
#datatypes of columns
print(df.dtypes)

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64



Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [8]:
#using location method
print(df.loc[:,['Random value 2','Random value 3']])

print("\n\n")
#using index location
print(df.iloc[:,[1,2]])

   Random value 2  Random value 3
0        0.225401        0.106388
1        0.709070        0.640808
2        0.210926        0.332616
3        0.289717        0.714039



   Random value 2  Random value 3
0        0.225401        0.106388
1        0.709070        0.640808
2        0.210926        0.332616
3        0.289717        0.714039